alabaster==0.7.12
appdirs==1.4.3
atomicwrites==1.2.1
attrs==18.2.0
Babel==2.6.0
black==18.9b0
certifi==2018.11.29
chardet==3.0.4
Click==7.0
cycler==0.10.0
docutils==0.14
flake8==3.6.0
idna==2.8
imagesize==1.1.0
-e git+https://github.com/mmngreco/IneqPy.git@7cc03e4bc1980f4865d463793ad51d4023ea4062#egg=IneqPy
Jinja2==2.10
kiwisolver==1.0.1
llvmlite==0.27.0
MarkupSafe==1.1.0
matplotlib==3.0.2
mccabe==0.6.1
more-itertools==5.0.0
numba==0.42.0
numpy==1.16.0
numpydoc==0.8.0
packaging==19.0
pandas==0.24.0
pluggy==0.8.1
powerline-status==2.6
py==1.7.0
pycodestyle==2.4.0
pyflakes==2.0.0
Pygments==2.3.1
pyparsing==2.3.1
pytest==4.1.1
python-dateutil==2.7.5
pytz==2018.9
requests==2.21.0
six==1.12.0
snowballstemmer==1.2.1
Sphinx==1.8.3
sphinxcontrib-websupport==1.1.0
toml==0.10.0
urllib3==1.24.1
white==0.1.2
