[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numba = "*"
numpy = "*"
pandas = "*"
black = "*"
flake8 = "*"
pdbpp = "*"
IneqPy = {editable = true, path = "."}

[dev-packages]
scipy = "*"
pytest = "*"
black = "*"
flake8 = "*"
pdbpp = "*"
ineqpy = {editable = true, path = "."}
sphinx = "*"
sphinx-autoapi = "*"
sphinx-rtd-theme = "*"
numpydoc = "*"
pydocstyle = "*"
mkdocs = "*"
mkdocstrings = "*"
pytkdocs = {extras = ["numpy-style"], version = "*"}
darglint = "*"
mkdocs-material = "*"

[requires]
python_version = "3.8"
