asciiplotlib==0.2.1
attrs==19.1.0
certifi==2019.6.16
chardet==3.0.4
Click==7.0
click-plugins==1.1.1
cligj==0.5.0
cycler==0.10.0
Cython==0.29.13
Deprecated==1.2.6
descartes==1.1.0
Fiona==1.8.6
geographiclib==1.49
geopandas==0.5.1
geopy==1.20.0
gnuplotlib==0.31
idna==2.8
-e git+git@github.com:mmngreco/ineqpy.git@c6acfca76ad1f3e2773273a91344b8f308e05f27#egg=IneqPy
joblib==0.13.2
kiwisolver==1.1.0
llvmlite==0.29.0
matplotlib==3.1.1
mock==3.0.5
munch==2.3.2
numba==0.45.1
numexpr==2.7.0
numpy==1.17.0
numpysane==0.18
osmnet==0.1.5
palettable==3.2.0
pandas==0.25.1
pkg-resources==0.0.0
pyparsing==2.4.2
pyproj==2.3.0
pysal==2.1.0
python-dateutil==2.8.0
pytz==2019.2
requests==2.22.0
Rtree==0.8.3
scikit-learn==0.21.3
scipy==1.3.1
seaborn==0.9.0
Shapely==1.6.4.post2
six==1.12.0
tables==3.5.2
tqdm==4.35.0
urllib3==1.25.3
wrapt==1.11.2
